/* бэкгроунд */

body{
    background-color: bisque;
}

/* Менюшка */

header{
    width: 100%;
    z-index: 1000;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
}

.container{
    border:4px solid #A57E31 ;
    background-color: #F5BD60;
    box-shadow: 0px 2px 0.2em 0.2em rgb(100, 86, 8);
    align-self: center;
}

.header_inner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav_button{
    font-size: 30px;
    font-family: 'Rubik Mono One', sans-serif;
    font-style: normal;
    color: rgb(243, 242, 234);
    text-decoration: none;
    margin-right: 3%;
}

.logo_Text
{
    font-style: normal;
    color: rgb(243, 242, 234);
    font-family: 'Rubik Mono One', sans-serif;
    padding: 2px;
    font-size: 70px;
    padding-right: 10%;
}
.logo{
    display: flex;
    align-items: center;
    margin-left: 1%;
}
/* навигация по странице слева */

.nav_links{
    font-size: 16px;
    margin-top: 20px;
    display: block;
    text-align: left;
    text-decoration: none;
}
.nav.inner{
    display: flex;
    flex-direction: column;
}

.nav_container{
    border:4px solid #A57E31 ;
    background-color: #F5BD60;
    font-size: 18px;
    color: rgb(243, 242, 234);
    margin: 0px auto;
    box-shadow: 0px 2px 0.2em 0.2em rgb(100, 86, 8);
    padding: 30px;
    text-align: center;
    font-family: 'Rubik Mono One', sans-serif;
    align-self: center;
    padding-top: 2%;
}

.nav_panel{
    margin-top: 8%;
    margin-left: 5%;
    position: fixed;
    z-index: 1000;
}

/* Основное заполнение */

.main{
    display: flex;
}

.text_style{
    font-family: 'DotGothic16', sans-serif;
    padding-left: 8%;
}

.text_style_controle{
    font-family: 'DotGothic16', sans-serif;
    padding-left: 15%;
}

.control{
    display: flex;
    flex-direction: row;
}

.led_container{
    margin-left: 10%;
    display: flex;
    flex-direction: column;
}
.led_control{
    margin-top: 2%;
    display: block;
}



.button-style2{
    font-family: 'DotGothic16', sans-serif;
    font-weight: 650;
    color: black;
    text-decoration: none;
    display: block;
    padding: 10px;
    background:  rgb(247, 214, 97);
    box-shadow: -4px 4px 0em 0em #A57E31 ;
    transition: 0s;
    text-align: center;
}

.button-style2:hover{
    color: black;
    background-color: rgb(255, 234, 159);
    box-shadow: -4px 4px 0em 0em #c4a541;

    transition: 0.2s;
}
.button-style2:active{
    color: black;
    background-color: rgb(255, 234, 159);
    box-shadow: 0px 0px 0em 0em rgb(104, 112, 31);
    transition: 0.1s;
    margin-right: 4px;
}

.main_text_inner{
    font-family:sans-serif;
    font-style: normal;
}

.main_container{
    display: flex;
    background-color: rgb(243, 242, 234);
    margin-top: 8%;
    margin-left: 30%;
    margin-right: 10%;
    padding-left: 5%;
    padding-top: 2%;
    padding-right: 5%;
}